In [2]:
#Daily Challenge: Data Handling and Analysis in Python
!unzip Data_Science_Job_Salary_dataset.zip

Archive:  Data_Science_Job_Salary_dataset.zip
  inflating: Data Science Job Salary dataset/datascience_salaries.csv

In [6]:
import pandas as pd

science = pd.read_csv('datascience_salaries.csv')

print(science.head())
print(science.info())

   Unnamed: 0       job_title   job_type experience_level       location  \
0           0  Data scientist  Full Time           Senior  New York City
1           2  Data scientist  Full Time           Senior         Boston
2           3  Data scientist  Full Time           Senior         London
3           4  Data scientist  Full Time           Senior         Boston
4           5  Data scientist  Full Time           Senior  New York City

  salary_currency  salary
0             USD  149000
1             USD  120000
2             USD   68000
3             USD  120000
4             USD  149000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1171 entries, 0 to 1170
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1171 non-null   int64
 1   job_title         1171 non-null   object
 2   job_type          1171 non-null   object
 3   experience_level  1171 non-null   object
 4   location          1171 non-null   object
 5   salary_currency   1171 non-null   object
 6   salary            1171 non-null   int64
dtypes: int64(2), object(5)
memory usage: 64.2+ KB
None

In [8]:
print(science[['job_title','job_type']].head())

        job_title   job_type
0  Data scientist  Full Time
1  Data scientist  Full Time
2  Data scientist  Full Time
3  Data scientist  Full Time
4  Data scientist  Full Time

In [7]:
from sklearn.preprocessing import MinMaxScaler
science[['salary']] = MinMaxScaler().fit_transform(science[['salary']])
print(science['salary'].head())

0    0.601010
1    0.454545
2    0.191919
3    0.454545
4    0.601010
Name: salary, dtype: float64

In [13]:
from sklearn.decomposition import PCA
pca = PCA(n_components=1)
science['salary'] = pca.fit_transform(science[['salary']])
print(science['salary'].head())

0    0.425071
1    0.278606
2    0.015980
3    0.278606
4    0.425071
Name: salary, dtype: float64

In [30]:
salary_stats = science.groupby('experience_level').agg(average_salary=('salary', 'mean'),median_salary=('salary', 'median'))
print(salary_stats)

                  average_salary  median_salary
experience_level
Junior                  0.015980       0.015980
Mid-level               0.023785       0.026081
Senior                       NaN            NaN

<ipython-input-30-32b8af7ecd07>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  salary_stats = science.groupby('experience_level').agg(average_salary=('salary', 'mean'),median_salary=('salary', 'median'))