Exercise 1: Identifying Data Types
Below are various data sources. Identify whether each one is an example of structured or unstructured data.

A companyâ€™s financial reports stored in an Excel file.
Its structured data, bcs its an Exel file with columns and rows, organized, and its easy to store and analyze

Photographs uploaded to a social media platform.
Its unstructured data, that contains images which are unstructured by itself


A collection of news articles on a website.
Its unstructured data
That data contains text, which may be categorized by date or title, but he has not specific format that can be stored in table or database easily

Inventory data in a relational database.
Its a structured data, organized with columns and rows and easily accessible


Recorded interviews from a market research stud
Its unstructured, bcs its an audio file(s) or video(s), and requires transcription to extract infrmation, that can be organized after

Exercise 2: Transformation Exercise
For each of the following unstructured data sources, propose a method to convert it into structured data. Explain your reasoning.

A series of blog posts about travel experiences.
I can take text with text-mining method and extract some information like date, location, countries, places, prices, i can find some markers which activity was in this place, is it a positive or negative expirience. I can break the text into word, phrase and extract different topics, which can be columns for my data set.

Audio recordings of customer service calls.
Here i need to convert speech into text and analyse the text.
In text im searching for specific words - topics, it was a problems or positive customer expiriences, which type of problems that was, some details like date, phone number, name of customer, wich product of the company that was, how the problem was solved.

Handwritten notes from a brainstorming session.
I need to convert this text into machine-readable text with Google Vision for example and then manually pick some ideas by key words, categories, name of contributors or priority.


A video tutorial on cooking.
I need video transcription software to convert audio data into a text.
After i can identify wich ingridients was used, some cooking techniques, timings, what actions you need to do step by step and some advices

In [7]:

#ðŸŒŸ Exercise 3 : Import a file from Kaggle
#Import the titanic dataset that you can find on Kaggle.
#Print the first few rows of the DataFrame.
import pandas as pd
titanic = pd.read_csv('/content/train.csv', header=None)
print(titanic.head())

            0         1       2   \
0  PassengerId  Survived  Pclass
1            1         0       3
2            2         1       1
3            3         1       3
4            4         1       1

                                                  3       4    5      6   \
0                                               Name     Sex  Age  SibSp
1                            Braund, Mr. Owen Harris    male   22      1
2  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
3                             Heikkinen, Miss. Laina  female   26      0
4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1

      7                 8        9      10        11
0  Parch            Ticket     Fare  Cabin  Embarked
1      0         A/5 21171     7.25    NaN         S
2      0          PC 17599  71.2833    C85         C
3      0  STON/O2. 3101282    7.925    NaN         S
4      0            113803     53.1   C123         S

In [10]:
#Exercise 4: Importing a CSV File
#Use the Iris Dataset CSV.

#Download the Iris dataset CSV file and place it in the same directory as your Jupyter Notebook.
#Import the CSV file using Pandas.
#Display the first five rows of the dataset.

import pandas as pd
iris_data = pd.read_csv('/content/Iris_dataset.csv', header=None)
print(iris_data.head())

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [16]:
# Exercise 5 : Export a dataframe to excel format and JSON format.
#Create a simple dataframe.
#Export the dataframe to an excel file.
#Export the dataframe to a JSON file.
import pandas as pd
users = {
    'Name': ['Alex', 'Vladimir', 'Avraam', 'Gretta','Mike'],
    'Age': [25, 30, 32, 28, 36],
    'City': ['New York', 'Moscow', 'Tel-Aviv', 'London','Paris']
}


df = pd.DataFrame(users)
print(df)

df.to_excel('users.xlsx', index=False)
df.to_json('users.json')

       Name  Age      City
0      Alex   25  New York
1  Vladimir   30    Moscow
2    Avraam   32  Tel-Aviv
3    Gretta   28    London
4      Mike   36     Paris

In [17]:
#Exercise 6: Reading JSON Data
#Use a sample JSON dataset

#Import the JSON data from the provided URL.
#Use Pandas to read the JSON data.
#Display the first five entries of the data.

import pandas as pd

posts = pd.read_json('/content/posts.json')
print(posts.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...