In [1]:
!unzip titanic.zip

Archive:  titanic.zip
  inflating: titanic dataset/gender_submission.csv
  inflating: titanic dataset/test.csv
  inflating: titanic dataset/train.csv

In [4]:
import pandas as pd
titanic_data = pd.read_csv('titanic dataset/train.csv')

print(titanic_data.head())
print(titanic_data.info())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [18]:
#Exercise 1: Duplicate Detection and Removal
duplicated_rows = titanic_data.duplicated()
print(duplicated_rows.sum())
titanic_data.duplicated().sum()
print(titanic_data.duplicated().sum())
titanic_clean = titanic_data.drop_duplicates()

0
0

In [26]:
#Exercise 2: Handling Missing Values
#columns with missing values - Age, Cabin, Embarked
#Removing
#print(titanic_clean.columns)
#titanic_clean = titanic_clean.drop(['cabin'], axis=1)
#Imputing
titanic_clean['Age'] = titanic_clean['Age'].fillna(titanic_clean.groupby(['Pclass','Sex'])['Age'].transform('median'))
titanic_clean['Embarked'] = titanic_clean['Embarked'].fillna(titanic_clean['Embarked'].mode()[0])
print(titanic_clean.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB
None

In [28]:
# Exercise 3: Feature Engineering
titanic_clean['FamilySize'] = titanic_clean['SibSp'] + titanic_clean['Parch'] + 1

titanic_clean['Title'] = titanic_clean['Name'].str.split(',').str[1].str.split('.').str[0]
print(titanic_clean.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
 11  FamilySize   891 non-null    int64
 12  Title        891 non-null    object
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB
None

In [30]:
from sklearn.preprocessing import LabelEncoder
titanic_clean['Sex'] = LabelEncoder().fit_transform(titanic_clean['Sex'])
print(titanic_clean.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
 11  FamilySize   891 non-null    int64
 12  Title        891 non-null    object
dtypes: float64(2), int64(7), object(4)
memory usage: 90.6+ KB
None

In [31]:
data = pd.get_dummies(titanic_clean, columns=['Embarked'], drop_first=True)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  FamilySize   891 non-null    int64
 11  Title        891 non-null    object
 12  Embarked_Q   891 non-null    bool
 13  Embarked_S   891 non-null    bool
dtypes: bool(2), float64(2), int64(7), object(3)
memory usage: 85.4+ KB
None

In [36]:
from sklearn.preprocessing import StandardScaler

titanic_clean[['Age', 'SibSp', 'Parch']] = StandardScaler().fit_transform(titanic_clean[['Age', 'SibSp', 'Parch']])
print(titanic_clean.info())
print(titanic_clean.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    float64
 7   Parch        891 non-null    float64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
 11  FamilySize   891 non-null    float64
 12  Title        891 non-null    object
dtypes: float64(5), int64(4), object(4)
memory usage: 90.6+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       2
1            2         1       0
2            3         1       2
3            4         1       0
4            5         0       2

                                                Name  Sex       Age     SibSp  \
0                            Braund, Mr. Owen Harris    1 -0.534891  0.432793
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  0.668392  0.432793
2                             Heikkinen, Miss. Laina    0 -0.234070 -0.474545
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  0.442776  0.432793
4                           Allen, Mr. William Henry    1  0.442776 -0.474545

      Parch            Ticket     Fare Embarked  FamilySize  Title
0 -0.473674         A/5 21171   7.2500        S    0.059160     Mr
1 -0.473674          PC 17599  71.2833        C    0.059160    Mrs
2 -0.473674  STON/O2. 3101282   7.9250        S   -0.560975   Miss
3 -0.473674            113803  53.1000        S    0.059160    Mrs
4 -0.473674            373450   8.0500        S   -0.560975     Mr

In [37]:
#Exercise 4: Outlier Detection and Handling

Q1 = titanic_clean['Fare'].quantile(0.25)
Q3 = titanic_clean['Fare'].quantile(0.75)
IQR = Q3 - Q1
outlier_condition = (titanic_clean['Fare'] < (Q1 - 1.5 * IQR)) | (titanic_clean['Fare'] > (Q3 + 1.5 * IQR))
outliers = titanic_clean[outlier_condition]
print(outliers)

     PassengerId  Survived  Pclass  \
1              2         1       0
27            28         0       0
31            32         1       0
34            35         0       0
52            53         1       0
..           ...       ...     ...
846          847         0       2
849          850         1       0
856          857         1       0
863          864         0       2
879          880         1       0

                                                  Name  Sex       Age  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    0  0.668392
27                      Fortune, Mr. Charles Alexander    1 -0.760507
31      Spencer, Mrs. William Augustus (Marie Eugenie)    0  0.442776
34                             Meyer, Mr. Edgar Joseph    1 -0.083660
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)    0  1.495649
..                                                 ...  ...       ...
846                           Sage, Mr. Douglas Bullen    1 -0.309276
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)    0  0.442776
856         Wick, Mrs. George Dennick (Mary Hitchcock)    0  1.194828
863                  Sage, Miss. Dorothy Edith "Dolly"    0 -0.572494
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)    0  2.022085

        SibSp     Parch    Ticket      Fare Embarked  FamilySize  Title
1    0.432793 -0.473674  PC 17599   71.2833        C    0.059160    Mrs
27   2.247470  2.008933     19950  263.0000        S    2.539699     Mr
31   0.432793 -0.473674  PC 17569  146.5208        C    0.059160    Mrs
34   0.432793 -0.473674  PC 17604   82.1708        C    0.059160     Mr
52   0.432793 -0.473674  PC 17572   76.7292        C    0.059160    Mrs
..        ...       ...       ...       ...      ...         ...    ...
846  6.784163  2.008933  CA. 2343   69.5500        S    5.640372     Mr
849  0.432793 -0.473674     17453   89.1042        C    0.059160    Mrs
856  0.432793  0.767630     36928  164.8667        S    0.679295    Mrs
863  6.784163  2.008933  CA. 2343   69.5500        S    5.640372   Miss
879 -0.474545  0.767630     11767   83.1583        C    0.059160    Mrs

[116 rows x 13 columns]

In [38]:
Q1 = titanic_clean['Age'].quantile(0.25)
Q3 = titanic_clean['Age'].quantile(0.75)
IQR = Q3 - Q1
outlier_condition = (titanic_clean['Age'] < (Q1 - 1.5 * IQR)) | (titanic_clean['Age'] > (Q3 + 1.5 * IQR))
outliers = titanic_clean[outlier_condition]
print(outliers)

     PassengerId  Survived  Pclass  \
11            12         1       0
33            34         0       1
54            55         0       0
94            95         0       2
96            97         0       0
116          117         0       2
170          171         0       0
195          196         1       0
232          233         0       1
252          253         0       0
268          269         1       0
275          276         1       0
280          281         0       2
326          327         0       2
366          367         1       0
438          439         0       0
456          457         0       0
483          484         1       2
487          488         0       0
493          494         0       0
545          546         0       0
555          556         0       0
570          571         1       1
587          588         1       0
625          626         0       0
630          631         1       0
659          660         0       0
672          673         0       1
684          685         0       1
694          695         0       0
745          746         0       0
829          830         1       0
851          852         0       2

                                                 Name  Sex       Age  \
11                           Bonnell, Miss. Elizabeth    0  2.172495
33                              Wheadon, Mr. Edward H    1  2.774137
54                     Ostby, Mr. Engelhart Cornelius    1  2.698932
94                                  Coxon, Mr. Daniel    1  2.247701
96                          Goldschmidt, Mr. George B    1  3.150163
116                              Connors, Mr. Patrick    1  3.112560
170                         Van der hoef, Mr. Wyckoff    1  2.398111
195                              Lurette, Miss. Elise    0  2.172495
232                         Sjostedt, Mr. Ernst Adolf    1  2.247701
252                         Stead, Mr. William Thomas    1  2.473316
268     Graham, Mrs. William Thompson (Edith Junkins)    0  2.172495
275                 Andrews, Miss. Kornelia Theodosia    0  2.548521
280                                  Duane, Mr. Frank    1  2.698932
326                         Nysveen, Mr. Johan Hansen    1  2.398111
366  Warren, Mrs. Frank Manley (Anna Sophia Atkinson)    0  2.322906
438                                 Fortune, Mr. Mark    1  2.623727
456                         Millet, Mr. Francis Davis    1  2.698932
483                            Turkula, Mrs. (Hedwig)    0  2.548521
487                           Kent, Mr. Edward Austin    1  2.172495
493                           Artagaveytia, Mr. Ramon    1  3.150163
545                      Nicholson, Mr. Arthur Ernest    1  2.623727
555                                Wright, Mr. George    1  2.473316
570                                Harris, Mr. George    1  2.473316
587                  Frolicher-Stehli, Mr. Maxmillian    1  2.322906
625                             Sutton, Mr. Frederick    1  2.398111
630              Barkworth, Mr. Algernon Henry Wilson    1  3.827009
659                        Newell, Mr. Arthur Webster    1  2.172495
672                       Mitchell, Mr. Henry Michael    1  3.074958
684                 Brown, Mr. Thomas William Solomon    1  2.322906
694                                   Weir, Col. John    1  2.322906
745                      Crosby, Capt. Edward Gifford    1  3.074958
829         Stone, Mrs. George Nelson (Martha Evelyn)    0  2.473316
851                               Svensson, Mr. Johan    1  3.375778

        SibSp     Parch       Ticket      Fare Embarked  FamilySize  Title
11  -0.474545 -0.473674       113783   26.5500        S   -0.560975   Miss
33  -0.474545 -0.473674   C.A. 24579   10.5000        S   -0.560975     Mr
54  -0.474545  0.767630       113509   61.9792        C    0.059160     Mr
94  -0.474545 -0.473674       364500    7.2500        S   -0.560975     Mr
96  -0.474545 -0.473674     PC 17754   34.6542        C   -0.560975     Mr
116 -0.474545 -0.473674       370369    7.7500        Q   -0.560975     Mr
170 -0.474545 -0.473674       111240   33.5000        S   -0.560975     Mr
195 -0.474545 -0.473674     PC 17569  146.5208        C   -0.560975   Miss
232 -0.474545 -0.473674       237442   13.5000        S   -0.560975     Mr
252 -0.474545 -0.473674       113514   26.5500        S   -0.560975     Mr
268 -0.474545  0.767630     PC 17582  153.4625        S    0.059160    Mrs
275  0.432793 -0.473674        13502   77.9583        S    0.059160   Miss
280 -0.474545 -0.473674       336439    7.7500        Q   -0.560975     Mr
326 -0.474545 -0.473674       345364    6.2375        S   -0.560975     Mr
366  0.432793 -0.473674       110813   75.2500        C    0.059160    Mrs
438  0.432793  4.491540        19950  263.0000        S    2.539699     Mr
456 -0.474545 -0.473674        13509   26.5500        S   -0.560975     Mr
483 -0.474545 -0.473674         4134    9.5875        S   -0.560975    Mrs
487 -0.474545 -0.473674        11771   29.7000        C   -0.560975     Mr
493 -0.474545 -0.473674     PC 17609   49.5042        C   -0.560975     Mr
545 -0.474545 -0.473674          693   26.0000        S   -0.560975     Mr
555 -0.474545 -0.473674       113807   26.5500        S   -0.560975     Mr
570 -0.474545 -0.473674  S.W./PP 752   10.5000        S   -0.560975     Mr
587  0.432793  0.767630        13567   79.2000        C    0.679295     Mr
625 -0.474545 -0.473674        36963   32.3208        S   -0.560975     Mr
630 -0.474545 -0.473674        27042   30.0000        S   -0.560975     Mr
659 -0.474545  2.008933        35273  113.2750        C    0.679295     Mr
672 -0.474545 -0.473674   C.A. 24580   10.5000        S   -0.560975     Mr
684  0.432793  0.767630        29750   39.0000        S    0.679295     Mr
694 -0.474545 -0.473674       113800   26.5500        S   -0.560975    Col
745  0.432793  0.767630    WE/P 5735   71.0000        S    0.679295   Capt
829 -0.474545 -0.473674       113572   80.0000        S   -0.560975    Mrs
851 -0.474545 -0.473674       347060    7.7750        S   -0.560975     Mr

In [49]:
import numpy as np
titanic_clean['Fare_log'] = np.log1p(titanic_clean['Fare'])
print(titanic_clean.head())

   PassengerId  Survived  Pclass  \
0            1         0       2
1            2         1       0
2            3         1       2
3            4         1       0
4            5         0       2

                                                Name  Sex       Age     SibSp  \
0                            Braund, Mr. Owen Harris    1 -1.450231  0.432793
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  0.413341  0.432793
2                             Heikkinen, Miss. Laina    0 -0.310153 -0.474545
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  0.312303  0.432793
4                           Allen, Mr. William Henry    1  0.312303 -0.474545

      Parch            Ticket     Fare Embarked  FamilySize  Title   Age_log  \
0 -0.473674         A/5 21171   7.2500        S    0.059160     Mr       NaN
1 -0.473674          PC 17599  71.2833        C    0.059160    Mrs  0.345956
2 -0.473674  STON/O2. 3101282   7.9250        S   -0.560975   Miss -0.371285
3 -0.473674            113803  53.1000        S    0.059160    Mrs  0.271784
4 -0.473674            373450   8.0500        S   -0.560975     Mr  0.271784

   Fare_log
0  2.110213
1  4.280593
2  2.188856
3  3.990834
4  2.202765

In [55]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

titanic_clean2 = ~((titanic_clean[['Age', 'Fare']]< lower_bound) | (titanic_clean[['Age', 'Fare']]> upper_bound)).any(axis=1)
titanic_clean = titanic_clean[titanic_clean2]
print(titanic_clean.info())

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 179 to 822
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  15 non-null     int64
 1   Survived     15 non-null     int64
 2   Pclass       15 non-null     int64
 3   Name         15 non-null     object
 4   Sex          15 non-null     int64
 5   Age          14 non-null     float64
 6   SibSp        15 non-null     float64
 7   Parch        15 non-null     float64
 8   Ticket       15 non-null     object
 9   Fare         15 non-null     float64
 10  Embarked     15 non-null     object
 11  FamilySize   15 non-null     float64
 12  Title        15 non-null     object
 13  Age_log      14 non-null     float64
 14  Fare_log     15 non-null     float64
dtypes: float64(7), int64(4), object(4)
memory usage: 1.9+ KB
None

In [57]:
#Exercise 5: Data Standardization and Normalization
from sklearn.preprocessing import StandardScaler
titanic_clean[['Age']] = StandardScaler().fit_transform(titanic_clean[['Age']])
print(titanic_clean.head())

     PassengerId  Survived  Pclass                             Name  Sex  \
179          180         0       2              Leonard, Mr. Lionel    1
263          264         0       0            Harrison, Mr. William    1
271          272         1       2     Tornquist, Mr. William Henry    1
277          278         0       1      Parkes, Mr. Francis "Frank"    1
302          303         0       2  Johnson, Mr. William Cahoone Jr    1

          Age     SibSp     Parch  Ticket  Fare Embarked  FamilySize Title  \
179  0.438247 -0.474545 -0.473674    LINE   0.0        S   -0.560975    Mr
263  0.869145 -0.474545 -0.473674  112059   0.0        S   -0.560975    Mr
271 -2.472144 -0.474545 -0.473674    LINE   0.0        S   -0.560975    Mr
277 -0.588975 -0.474545 -0.473674  239853   0.0        S   -0.560975    Mr
302       NaN -0.474545 -0.473674    LINE   0.0        S   -0.560975    Mr

      Age_log  Fare_log
179  0.299224       0.0
263  0.384490       0.0
271 -0.620005       0.0
277  0.060733       0.0
302       NaN       0.0

In [58]:
from sklearn.preprocessing import MinMaxScaler
titanic_clean[['Survived']] = MinMaxScaler().fit_transform(titanic_clean[['Survived']])
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       2
1            2         1       0
2            3         1       2
3            4         1       0
4            5         0       2

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

             Ticket     Fare  FamilySize  Title  Embarked_Q  Embarked_S
0         A/5 21171   7.2500           2     Mr       False        True
1          PC 17599  71.2833           2    Mrs       False       False
2  STON/O2. 3101282   7.9250           1   Miss       False        True
3            113803  53.1000           2    Mrs       False        True
4            373450   8.0500           1     Mr       False        True

In [63]:
#Exercise 6: Feature Encoding
new_data = pd.get_dummies(titanic_clean, columns=['Sex'], drop_first=True)
print(new_data.head())

     PassengerId  Survived  Pclass                             Name       Age  \
179          180       0.0       2              Leonard, Mr. Lionel  0.438247
263          264       0.0       0            Harrison, Mr. William  0.869145
271          272       1.0       2     Tornquist, Mr. William Henry -2.472144
277          278       0.0       1      Parkes, Mr. Francis "Frank" -0.588975
302          303       0.0       2  Johnson, Mr. William Cahoone Jr       NaN

        SibSp     Parch  Ticket  Fare Embarked  FamilySize Title   Age_log  \
179 -0.474545 -0.473674    LINE   0.0        S   -0.560975    Mr  0.299224
263 -0.474545 -0.473674  112059   0.0        S   -0.560975    Mr  0.384490
271 -0.474545 -0.473674    LINE   0.0        S   -0.560975    Mr -0.620005
277 -0.474545 -0.473674  239853   0.0        S   -0.560975    Mr  0.060733
302 -0.474545 -0.473674    LINE   0.0        S   -0.560975    Mr       NaN

     Fare_log
179       0.0
263       0.0
271       0.0
277       0.0
302       0.0

In [64]:
from sklearn.preprocessing import LabelEncoder
titanic_clean['Pclass'] = LabelEncoder().fit_transform(titanic_clean['Pclass'])
print(titanic_clean.head())

     PassengerId  Survived  Pclass                             Name  Sex  \
179          180       0.0       2              Leonard, Mr. Lionel    1
263          264       0.0       0            Harrison, Mr. William    1
271          272       1.0       2     Tornquist, Mr. William Henry    1
277          278       0.0       1      Parkes, Mr. Francis "Frank"    1
302          303       0.0       2  Johnson, Mr. William Cahoone Jr    1

          Age     SibSp     Parch  Ticket  Fare Embarked  FamilySize Title  \
179  0.438247 -0.474545 -0.473674    LINE   0.0        S   -0.560975    Mr
263  0.869145 -0.474545 -0.473674  112059   0.0        S   -0.560975    Mr
271 -2.472144 -0.474545 -0.473674    LINE   0.0        S   -0.560975    Mr
277 -0.588975 -0.474545 -0.473674  239853   0.0        S   -0.560975    Mr
302       NaN -0.474545 -0.473674    LINE   0.0        S   -0.560975    Mr

      Age_log  Fare_log
179  0.299224       0.0
263  0.384490       0.0
271 -0.620005       0.0
277  0.060733       0.0
302       NaN       0.0

In [77]:
#Exercise 7: Data Transformation for Age Feature
import pandas as pd
bins = [0, 14, 20, 35, 45,60]
bins_labels = ['Child', 'Teenager', 'Young Adult', 'Adult', 'Senior']
titanic_clean['Age_groups'] = pd.cut(titanic_clean['Age'], bins=bins, labels=bins_labels)
titanic_clean = pd.get_dummies(titanic_clean, columns=['Age_groups'], prefix='Age_groups', drop_first=False)
print(titanic_clean.head())

     PassengerId  Survived  Pclass                             Name  Sex  \
179          180       0.0       2              Leonard, Mr. Lionel    1
263          264       0.0       0            Harrison, Mr. William    1
271          272       1.0       2     Tornquist, Mr. William Henry    1
277          278       0.0       1      Parkes, Mr. Francis "Frank"    1
302          303       0.0       2  Johnson, Mr. William Cahoone Jr    1

          Age     SibSp     Parch  Ticket  Fare  ... Fare_log  \
179  0.438247 -0.474545 -0.473674    LINE   0.0  ...      0.0
263  0.869145 -0.474545 -0.473674  112059   0.0  ...      0.0
271 -2.472144 -0.474545 -0.473674    LINE   0.0  ...      0.0
277 -0.588975 -0.474545 -0.473674  239853   0.0  ...      0.0
302       NaN -0.474545 -0.473674    LINE   0.0  ...      0.0

     Age_groups_Child  Age_groups_Teenager  Age_groups_Young Adult  \
179              True                False                   False
263              True                False                   False
271             False                False                   False
277             False                False                   False
302             False                False                   False

     Age_groups_Adult  Age_groups_Child  Age_groups_Teenager  \
179             False              True                False
263             False              True                False
271             False             False                False
277             False             False                False
302             False             False                False

     Age_groups_Young Adult  Age_groups_Adult  Age_groups_Senior
179                   False             False              False
263                   False             False              False
271                   False             False              False
277                   False             False              False
302                   False             False              False

[5 rows x 24 columns]